.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
  position: relative;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
  text-align: center;
}

.control input {
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 100%;
}

.actions {
  display: flex;

  gap: 1rem;

  flex-wrap: wrap;
}

.actions button {
  font: inherit;
  color: #5a1a01;
  cursor: pointer;

  border: none;
  border-radius: 25px;
  background-color: #5a1a01;
  color: white;

  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 90px;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe6dc;
}

button.tryagain__button {
  width: auto;
  height: auto;
  padding: 0.5rem 2rem;
}

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #7a2706;
}

.invalid label {
  color: #ca3e51;
}

.invalid {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
